html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link .card {
    transition: all 0.3s ease-in-out;
    border: 1px solid #198754;
}

    .card-link .card:hover {
        background-color: #d1e7dd; /* Verde clarito */
        border-color: #145c35; /* Verde más oscuro */
        box-shadow: 0 0 12px rgba(25, 135, 84, 0.5);
        transform: scale(1.02);
    }
